$keycolor: #52B4B9;
$textcolor_on_keycolor: #eee;
$subcolor: #33A375;
$textcolor_on_subcolor: #eee;

:root {
    --theme-keycolor: #52B4B9;
    --theme-textcolor-on-keycolor: #eee;
    --theme-subcolor: #33A375;
    --theme-textcolor-on-subcolor: #eee;
}
